/**
 *  Default database configuration file
 *
 *  Created by create caminte-cli script
 *  App based on CaminteJS
 *  CaminteJS homepage http://www.camintejs.com
 *
 *  docs: https://github.com/biggora/caminte/wiki/Connecting-to-DB#connecting
 **/

module.exports.production = {
    driver     : 'redis',
    host       : 'localhost',
    port       : '6379',
    // username   : 'test',
    // password   : 'test',
    database   : 4,
    autoReconnect : true
};

module.exports.development = {
    driver     : 'redis',
    host       : '192.168.1.37',
    port       : '6379',
    // username   : 'test',
    // password   : 'test',
    database   : 4,
    autoReconnect : true
};

module.exports.test = {
    driver     : 'redis',
    host       : 'localhost',
    port       : '6379',
    // username   : 'test',
    // password   : 'test',
    database   : 4,
    autoReconnect : true
};

module.exports.dev = module.exports.development;